

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.932);
  -webkit-font-smoothing: antialiased;
  background:  var(--color-background) url(../assets/background-medium.png) 50%;
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}

:root {
--color-bread: #F9AD47;
--color-lettuce: #369B49;
--color-cheese: #FFD63B;
--color-beef: #6F150D;
--color-ketchup: #FF321F;
--color-background: #568ba0;
--color-icon: #2E3192;
}