* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.932);
  background: #e72d2d;
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}