#page-add-players {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
} 

.content {
  position: relative;

  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 680px;
  margin: 0 auto;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player icon {
  cursor: pointer;
}
